<h1> Prenotazione teatro</h1>

<div id="chiaveTeatro">
Imposta la chiave <input id="key"/>
</div>

<div id="login">
  Nominativo <input id="nome"/>
  <br/><button id="reset">RESET</button>
</div>

<div id="teatro">
<div class='panel panel-primary'>  
<div class='panel-heading'>  
    {{title}}  
</div>   
<div class='panel-body'>  
    <div class='table-responsive'>  
        <table class='table'>
            <tbody>  
                <tr *ngFor="let movie of movies;">  
                    <td>{{movie.title}}</td>  
                    <td>{{movie.director}}</td>  
                    <td>{{movie.cast}}</td>  
                    <td>{{movie.releaseDate}}</td>  
                </tr>  
            </tbody>  
        </table>  
    </div>  
</div>  
</div>  
</div>