<h1>Teatro</h1>

<div style="visibility:hidden" class="divTeatro">
<p>Scrivi il tuo nome, premi il pulsante prenota e clicca il posto che vuoi</p>
<br />
</div>

<div style="visibility:visibile" class="divInserimento">
  <input id="data" type="text" /><button
    id="bottonePrenota"
    onclick="showTeatro(getElementById('data'))"
  >
    Prenota
  </button>
</div>

<div style="visibility:hidden" class="divTeatro">
  <button
    id="BottoneB"
    onclick="document.getElementsByClassName('divTeatro')"
  >
    MostraTeatro
  </button>

  <p>
    <button *ngFor="let platea of bottoni; let counter = index" style="background-color:green">
      <p onclick="selezionaPostoPlatea(getElementById('data'), counter) style='background-color:red'">
        {{ platea }}
      </p>
    </button>
  </p>
  <p>
    <button *ngFor="let palchi of bottoni1" style="background-color:green">
      <p onclick="selezionaPostoPalchi(getElementById('data'), counter) style='background-color:red'">{{ palchi }}</p>
    </button>
  </p>
</div>
