<h1> Prenotazione teatro</h1>

<div id="chiaveTeatro">
Imposta la chiave <input id="key"/>
</div>

<div id="login">
  Nominativo <input id="nome"/>
  <br/><button id="reset">RESET</button>
</div>

<div id="teatro">
<div class='panel panel-primary'>  
<br/><div class='panel-heading'>
</div>   
<div class='panel-body'>  
    <div class='table-responsive'>  
        <table class='table'>
            <tbody>  
                <tr *ngFor="let posti of teatro1;">  
                    <button>{{posti.platea1}}</button><br/>
                    <button>{{posti.platea2}}</button><br/>
                    <button>{{posti.platea3}}</button><br/>
                    <button>{{posti.platea4}}</button><br/>
                    <button>{{posti.platea5}}</button><br/>
                    <button>{{posti.platea6}}</button><br/>
                    <button>{{posti.platea7}}</button>
                </tr>
                <tr *ngFor="let posti of teatro2;"> 
                  <button>{{posti.palchi}}</button>
                </tr>
            </tbody>  
        </table>  
    </div>  
</div>  
</div>  
</div>